img {
  height: 25em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
h1 , h3 {
  text-align: center;
}



#jumboh1 {
  font-size:6em;
}

#jumboh3 {
  padding-bottom: 8em;
  font-size: 3em;
}

#generator {
  display: none;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.cities {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#bahamas{
  display: none;
  text-align: center;
}

#orlando {
  display: none;
  text-align: center;
}

#vail {
  display: none;
  text-align: center;
}

#portland {
  display: none;
  text-align: center;
}
#paris {
  display: none;
  text-align: center;
}


.top {
  position: relative;
  overflow: hidden;
  margin-bottom: 2 em;
}
.top img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.7;
}
.top h1,h3 {
      position: relative;
      z-index: 2;
      color: white;
      text-shadow: 2px 2px 4px #000000;
}

.footer {
  text-align: center;
  margin: 2em;
}
.matches {
  display: none;
}

#homebody {
  background-color: #666666
}

.navlinks {
  float:right;
  padding: 1em;
  color: black;
  text-decoration: none;
}

#reset {
  margin-top: 1em;
}

.main {
  background-color: #CDC9C9;
  border: solid #909090 1px;
  border-radius: 8px;
  margin-top: 2em;
}

input:invalid {
  border:1px solid #C67171;
}

input:valid {
  border:1px solid #458B00;
}

p {
  text-align: center;
}
